Package: com.hius.halfipad
Name: HalFiPad
Depends: mobilesubstrate, preferenceloader
Version: 3.6.0
Architecture: iphoneos-arm
Description: Modern gestures, iPad features, and many unique features but lightweight and less battery drain.
Maintainer: Hius
Author: Hius
Section: Tweaks
Replaces: com.binksalex.fluidify, com.VitaTaf.HomeGesture, com.ioscreatix.littlex, com.ryannair05.little11, com.hius.halfipadvn
Icon: https://raw.githubusercontent.com/v-hius/HalFiPad/master/HalFiPadPrefs/Resources/icon%402x.png