<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ Auto Hide</string>
                <key>key</key>
                <string>homeBarAutoHide</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <false/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ In-App</string>
                <key>key</key>
                <string>homeBarSB</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <false/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ On Lockscreen</string>
                <key>key</key>
                <string>homeBarLS</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <false/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ Size Custom</string>
                <key>key</key>
                <string>homeBarCustom</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <true/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>sizeCustomID</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>◦ WIDTH:</string>
                <key>id</key>
                <string>widthID</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>isSegmented</key>
                <true/>
                <key>default</key>
                <real>134</real>
                <key>key</key>
                <string>homeBarWidth</string>
                <key>max</key>
                <real>350</real>
                <key>min</key>
                <integer>10</integer>
                <key>showValue</key>
                <true/>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>widthID2</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>◦ HEIGHT:</string>
                <key>id</key>
                <string>heightID</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>isSegmented</key>
                <true/>
                <key>default</key>
                <integer>5</integer>
                <key>key</key>
                <string>homeBarHeight</string>
                <key>max</key>
                <integer>20</integer>
                <key>min</key>
                <integer>1</integer>
                <key>showValue</key>
                <true/>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>heightID2</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>◦ Radius:</string>
                <key>id</key>
                <string>radiusID</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>isSegmented</key>
                <true/>
                <key>default</key>
                <integer>3</integer>
                <key>key</key>
                <string>homeBarRadius</string>
                <key>max</key>
                <integer>10</integer>
                <key>min</key>
                <integer>1</integer>
                <key>showValue</key>
                <true/>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>radiusID2</string>
            </dict>
        </array>
        <key>title</key>
        <string>Home Bar</string>
    </dict>
</plist>