<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturesMode</key>
	<integer>1</integer>
	<key>statusBarMode</key>
	<integer>4</integer>
	<key>screenMode</key>
	<integer>1</integer>
    <key>pipEnabled</key>
	<false/>
    <key>recentApp</key>
	<true/>
    <key>enablediPadMultitask</key>
	<false/>
	<key>floatingDock</key>
	<false/>
    <key>newSwitcher</key>
	<false/>
	<key>floatingGestures</key>
	<true/>
    <key>batteryPercent</key>
	<true/>
	<key>staticColor</key>
	<false/>
	<key>hideChargingIndicator</key>
	<false/>
	<key>hideStockPercent</key>
	<true/>
	<key>stockPercentCharging</key>
	<false/>
	<key>dynamicColorBatt</key>
	<false/>
	<key>ccStatusBar</key>
	<true/>
	<key>ccGrabber</key>
	<false/>
	<key>homeBarAutoHide</key>
	<false/>
	<key>homeBarSB</key>
	<false/>
	<key>homeBarLS</key>
	<false/>
	<key>homeBarCustom</key>
	<false/>
	<key>homeBarWidth</key>
	<integer>134</integer>
	<key>homeBarHeight</key>
	<integer>5</integer>
	<key>homeBarRadius</key>
	<integer>3</integer>
	<key>lsShortcuts</key>
	<true/>
    <key>xCombination</key>
	<true/>
    <key>noBreadcrumbs</key>
	<true/>
	<key>noReachability</key>
	<true/>
    <key>bottomInset</key>
	<integer>0</integer>
	<key>screenRounded</key>
	<integer>0</integer>
	<key>appDockRounded</key>
	<integer>6</integer>
    <key>nonLatinKeyboard</key>
	<false/>
	<key>noSwipeKeyboard</key>
	<false/>
    <key>highKeyboard</key>
	<true/>
	<key>darkKeyboard</key>
	<false/>
	<key>makeClean</key>
	<false/>
    <key>moreIconDock</key>
	<true/>
    <key>noDockBackground</key>
	<false/>
	<key>noIconsFly</key>
	<true/>
	<key>fastOpenApp</key>
	<false/>
	<key>newCamUI</key>
	<false/>
	<key>camZoomFlip</key>
	<true/>
    <key>swipeShot</key>
	<true/>
    <key>landscapeLock</key>
	<false/>
	<key>reduceRows</key>
	<false/>
	<key>padLock</key>
	<false/>
</dict>
</plist>