<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ Dark Appearance</string>
                <key>key</key>
                <string>darkKeyboard</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <false/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ No Gestures While Using</string>
                <key>key</key>
                <string>noSwipeKeyboard</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <false/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ Using Non-Latin Language</string>
                <key>key</key>
                <string>nonLatinKeyboard</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <false/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HalFiPadSwitchCell</string>
                <key>label</key>
                <string>◦ With Bottom Higher</string>
                <key>key</key>
                <string>highKeyboard</string>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>default</key>
                <true/>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>highKbID</string>
            </dict>
            <dict>
                <key>label</key>
                <string>◦ Bottom Offset:</string>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>id</key>
                <string>heightKbID</string>
		    </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>isSegmented</key>
                <true/>
                <key>default</key>
                <real>48</real>
                <key>key</key>
                <string>bottomHeightKB</string>
                <key>max</key>
                <real>100</real>
                <key>min</key>
                <integer>0</integer>
                <key>showValue</key>
                <true/>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>heightKbID2</string>
            </dict>
            <dict>
                <key>label</key>
                <string>◦ Globe/Dictation Offset:</string>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>id</key>
                <string>boundKbID</string>
		    </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>isSegmented</key>
                <true/>
                <key>default</key>
                <real>-15</real>
                <key>key</key>
                <string>boundKeyboard</string>
                <key>max</key>
                <real>30</real>
                <key>min</key>
                <integer>-30</integer>
                <key>showValue</key>
                <true/>
                <key>defaults</key>
                <string>com.hius.HalFiPadPrefs</string>
                <key>PostNotification</key>
                <string>com.hius.HalFiPadPrefs.settingschanged</string>
                <key>id</key>
                <string>boundKbID2</string>
            </dict>
        </array>
        <key>title</key>
        <string>Keyboard</string>
    </dict>
</plist>