<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>Hiếu Vũ ◦ 🇻🇳</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Donation ❤</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openPayPal:</string>
			<key>icon</key>
			<string>donation.png</string>
		</dict>
		<dict>
			<key>label</key>
			<string>▼ Gestures Style</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>▲ STATUS BAR STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>key</key>
			<string>gesturesMode</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Original</string>
				<string>Disabled</string>
				<string>Modern</string>
				<string>_Left</string>
				<string>Right_</string>
				<string>Miniature</string>
			</array>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>key</key>
			<string>statusBarMode</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Original</string>
				<string>iPad</string>
				<string>iPad Extra</string>
				<string>iPhoneX</string>
				<string>iPhoneX*</string>
				<string>iPhone11*</string>
			</array>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ General options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ Battery Percentage</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>+ or -
⚠: * Turn off Battery Percentage in Battery Settings.</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Enable</string>
					<key>key</key>
					<string>batteryPercent</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>+ Dynamic Color</string>
					<key>key</key>
					<string>dynamicColorBatt</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>- Static Color</string>
					<key>key</key>
					<string>staticColor</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Hide Charging Indicator</string>
					<key>key</key>
					<string>hideChargingIndicator</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>+ Hide Stock Percentage</string>
					<key>key</key>
					<string>hideStockPercent</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>- Show in CC When Charging*</string>
					<key>key</key>
					<string>stockPercentCharging</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>◦Battery Percentage◦</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ Bottom Inset + Rounded Corners</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>label</key>
					<string>◦ Bottom Inset</string>
					<key>cell</key>
					<string>PSGroupCell</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>0</real>
					<key>max</key>
					<real>30</real>
					<key>min</key>
					<integer>0</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>bottomInset</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>label</key>
					<string>◦ Rounded Dock and App Switcher</string>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>5.0: Disabled</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>6</real>
					<key>max</key>
					<real>30</real>
					<key>min</key>
					<integer>5</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>appDockRounded</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>label</key>
					<string>◦ Rounded Screen Corners</string>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>0.0: Disabled</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>0</real>
					<key>max</key>
					<real>30</real>
					<key>min</key>
					<integer>0</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>screenRounded</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>◦Bottom Inset + Rounded Corners◦</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ Custom Home Bar</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Home Bar Auto Hide</string>
					<key>key</key>
					<string>homeBarAutoHide</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Home Bar LockScreen</string>
					<key>key</key>
					<string>homeBarLS</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Home Bar SpringBoard</string>
					<key>key</key>
					<string>homeBarSB</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Home Bar Size Custom:</string>
					<key>key</key>
					<string>homeBarCustom</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>◦ Width:</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>default</key>
					<integer>134</integer>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>homeBarWidth</string>
					<key>max</key>
					<integer>300</integer>
					<key>min</key>
					<integer>10</integer>
					<key>showValue</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>◦ Height:</string>
				</dict>
				<dict>
						<key>cell</key>
						<string>PSSliderCell</string>
						<key>default</key>
						<integer>5</integer>
						<key>defaults</key>
						<string>com.hius.HalFiPadPrefs</string>
						<key>key</key>
						<string>homeBarHeight</string>
						<key>max</key>
						<integer>100</integer>
						<key>min</key>
						<integer>1</integer>
						<key>showValue</key>
						<true/>
						<key>PostNotification</key>
						<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>◦ Radius:</string>
				</dict>
				<dict>
						<key>cell</key>
						<string>PSSliderCell</string>
						<key>default</key>
						<integer>3</integer>
						<key>defaults</key>
						<string>com.hius.HalFiPadPrefs</string>
						<key>key</key>
						<string>homeBarRadius</string>
						<key>isSegmented</key>
						<true/>
						<key>segmentCount</key>
						<integer>9</integer>
						<key>max</key>
						<integer>10</integer>
						<key>min</key>
						<integer>1</integer>
						<key>showValue</key>
						<true/>
						<key>PostNotification</key>
						<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>◦Custom Home Bar◦</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ CC Grabber</string>
			<key>key</key>
			<string>ccGrabber</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ CC StatusBar</string>
			<key>key</key>
			<string>ccStatusBar</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Combination [Power + Volume Up]</string>
			<key>key</key>
			<string>xCombination</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ FaceID + Padlock Animation</string>
			<key>key</key>
			<string>padLock</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ LockScreen Shortcuts</string>
			<key>key</key>
			<string>lsShortcuts</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ No Breadcrumbs</string>
			<key>key</key>
			<string>noBreadcrumbs</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Swipe To Reachability</string>
			<key>key</key>
			<string>noReachability</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ iPad Features</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ iPad Multitask</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Floating Dock</string>
					<key>key</key>
					<string>floatingDock</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Floating Gestures</string>
					<key>key</key>
					<string>floatingGestures</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Recent Application</string>
					<key>key</key>
					<string>recentApp</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSwitchCell</string>
					<key>label</key>
					<string>◦ Split View - SlideOver</string>
					<key>key</key>
					<string>enablediPadMultitask</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>label</key>
					<string>✯ Landscape App Style</string>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>⚠ Some apps require Split View - Slide Over or Only effective with iPad style.</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSegmentCell</string>
					<key>default</key>
					<integer>1</integer>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>screenMode</string>
					<key>detail</key>
					<string>PSListItemsController</string>
					<key>validValues</key>
					<array>
						<integer>0</integer>
						<integer>1</integer>
					</array>
					<key>validTitles</key>
					<array>
						<string>◦ iPad</string>
						<string>◦ Normal</string>
					</array>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>◦iPad Multitask◦</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ New Grid Switcher</string>
			<key>key</key>
			<string>newSwitcher</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Picture in Picture</string>
			<key>key</key>
			<string>pipEnable</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ Keyboard options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Dark Keyboard</string>
			<key>key</key>
			<string>darkKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Higher Keyboard</string>
			<key>key</key>
			<string>highKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ No Gestures When Keyboard</string>
			<key>key</key>
			<string>noSwipeKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Non-Latin Keyboard</string>
			<key>key</key>
			<string>nonLatinKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ More options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>
⚠ Note:
➊ Miniature: Reduce the ability to switch applications quickly when swiping left or right on the bottom edge.
➋ Status Bar Style: *Calibrate.
➌ Non-Latin Keyboard: Fix conflicts right padding for non-Latin keyboard.
➍ More Icon Dock: [Normal dock: 5]-[Floating dock: 6].
➎ Swipe To Screenshot: 2-finger at once swipe down from the status bar.
➏ Make Clean: remove icon labels, dots, weather footer text.
✔ RESPRING TO TAKE EFFECT.
</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Camera UI 11 [beta]</string>
			<key>key</key>
			<string>newCamUI</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Camera Zoom and Flips Control</string>
			<key>key</key>
			<string>camZoomFlip</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Fast Open App</string>
			<key>key</key>
			<string>fastOpenApp</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Landscape Orientation Lock</string>
			<key>key</key>
			<string>landscapeLock</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Make Clean</string>
			<key>key</key>
			<string>makeClean</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ More Icon Dock</string>
			<key>key</key>
			<string>moreIconDock</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ No Dock Background</string>
			<key>key</key>
			<string>noDockBackground</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ No Icons Fly</string>
			<key>key</key>
			<string>noIconsFly</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Reduce Rows</string>
			<key>key</key>
			<string>reduceRows</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Swipe To Screenshot</string>
			<key>key</key>
			<string>swipeShot</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>◦HalFiPad◦</string>
</dict>
</plist>