<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>Hiếu Vũ ◦ 🇻🇳</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>label</key>
			<string>▼ Gestures Style</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>▲ STATUS BAR STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>key</key>
			<string>gesturesMode</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Original</string>
				<string>Disabled</string>
				<string>Modern</string>
				<string>Left_</string>
				<string>_Right</string>
				<string>Miniature</string>
			</array>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Edge Protect</string>
			<key>key</key>
			<string>edgeProtect</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>key</key>
			<string>statusBarMode</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Original</string>
				<string>iPad</string>
				<string>iPad Extra</string>
				<string>iPhoneX</string>
				<string>iPhoneX*</string>
				<string>iPhone11*</string>
			</array>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ General Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ Battery Percentage</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>+ or -
⚠: * Turn off Battery Percentage in Battery Settings.</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Enable</string>
					<key>key</key>
					<string>batteryPercent</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>+ Dynamic Color</string>
					<key>key</key>
					<string>dynamicColorBP</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>- Static Color</string>
					<key>key</key>
					<string>staticColorBP</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Hide Charging Indicator</string>
					<key>key</key>
					<string>hideChargingIndicator</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>+ Hide Stock Percentage</string>
					<key>key</key>
					<string>hideStockPercent</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>- Show in CC When Charging*</string>
					<key>key</key>
					<string>stockPercentCharging</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>Battery Percentage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ Bottom Inset + Rounded Corners</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>label</key>
					<string>◦ Bottom Inset</string>
					<key>cell</key>
					<string>PSGroupCell</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>0</real>
					<key>max</key>
					<real>30</real>
					<key>min</key>
					<integer>0</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>bottomInset</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>label</key>
					<string>◦ Rounded Dock and App Switcher</string>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>5.0: Disabled</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>6</real>
					<key>max</key>
					<real>30</real>
					<key>min</key>
					<integer>5</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>roundAppDock</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>label</key>
					<string>◦ Rounded Screen Corners</string>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>0.0: Disabled</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>0</real>
					<key>max</key>
					<real>30</real>
					<key>min</key>
					<integer>0</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>screenRound</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>Bottom Inset + Rounded Corners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ Customize Home Bar</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Auto Hide</string>
					<key>key</key>
					<string>homeBarAutoHide</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Application</string>
					<key>key</key>
					<string>homeBarSB</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Lockscreen</string>
					<key>key</key>
					<string>homeBarLS</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Size Custom</string>
					<key>key</key>
					<string>homeBarCustom</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>◦ WIDTH:</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<real>134</real>
					<key>key</key>
					<string>homeBarWidth</string>
					<key>max</key>
					<real>350</real>
					<key>min</key>
					<integer>10</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>◦ HEIGHT:</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<integer>5</integer>
					<key>key</key>
					<string>homeBarHeight</string>
					<key>max</key>
					<integer>20</integer>
					<key>min</key>
					<integer>1</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>label</key>
					<string>◦ Radius:</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSliderCell</string>
					<key>isSegmented</key>
					<true/>
					<key>default</key>
					<integer>3</integer>
					<key>key</key>
					<string>homeBarRadius</string>
					<key>max</key>
					<integer>10</integer>
					<key>min</key>
					<integer>1</integer>
					<key>showValue</key>
					<true/>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>Customize Home Bar</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ CC Animation</string>
			<key>key</key>
			<string>ccAnimation</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ CC Grabber</string>
			<key>key</key>
			<string>ccGrabber</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ CC StatusBar</string>
			<key>key</key>
			<string>ccStatusBar</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Combination Buttons iPX</string>
			<key>key</key>
			<string>ipxCombination</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ FaceID + Padlock Animation</string>
			<key>key</key>
			<string>padLock</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ LockScreen Shortcuts</string>
			<key>key</key>
			<string>lsShortcuts</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ No Breadcrumbs</string>
			<key>key</key>
			<string>noBreadcrumb</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Swipe To Reachability</string>
			<key>key</key>
			<string>noReachability</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ iPad Features</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>‣ iPad Multitask</string>
			<key>detail</key>
			<string>PSListController</string>
			<key>items</key>
			<array>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ iPad Dock</string>
					<key>key</key>
					<string>ipadDock</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ In-App Dock</string>
					<key>key</key>
					<string>inAppDock</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Recent Application</string>
					<key>key</key>
					<string>recentApp</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<true/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>cellClass</key>
  					<string>HalFiPadSwitchCell</string>
					<key>label</key>
					<string>◦ Split View - SlideOver</string>
					<key>key</key>
					<string>iPadMultitask</string>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>default</key>
					<false/>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
				<dict>
					<key>label</key>
					<string>✯ Landscape App Style</string>
					<key>cell</key>
					<string>PSGroupCell</string>
					<key>footerText</key>
					<string>⚠ Some apps require Split View - Slide Over or Only effective with iPad style.</string>
				</dict>
				<dict>
					<key>cell</key>
					<string>PSSegmentCell</string>
					<key>default</key>
					<integer>1</integer>
					<key>defaults</key>
					<string>com.hius.HalFiPadPrefs</string>
					<key>key</key>
					<string>screenMode</string>
					<key>detail</key>
					<string>PSListItemsController</string>
					<key>validValues</key>
					<array>
						<integer>0</integer>
						<integer>1</integer>
					</array>
					<key>validTitles</key>
					<array>
						<string>◦ iPad</string>
						<string>◦ Normal</string>
					</array>
					<key>PostNotification</key>
					<string>com.hius.HalFiPadPrefs.settingschanged</string>
				</dict>
			</array>
			<key>title</key>
			<string>iPad Multitask</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ New Grid Switcher</string>
			<key>key</key>
			<string>newSwitcher</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Picture in Picture</string>
			<key>key</key>
			<string>pictureInPicture</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ Keyboard Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Dark Keyboard</string>
			<key>key</key>
			<string>darkKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Higher Keyboard</string>
			<key>key</key>
			<string>highKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
			<key>id</key>
   			<string>higherKeyboardID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<true/>
			<key>default</key>
			<real>48</real>
			<key>key</key>
			<string>bottomHeightKB</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
			<key>id</key>
   			<string>heightKeyboardID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<true/>
			<key>default</key>
			<real>-15</real>
			<key>key</key>
			<string>boundKeyboard</string>
			<key>max</key>
			<real>30</real>
			<key>min</key>
			<integer>-30</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
			<key>id</key>
   			<string>boundKeyboardID</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ No Gestures When Keyboard</string>
			<key>key</key>
			<string>noSwipeKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Non-Latin Keyboard Fix</string>
			<key>key</key>
			<string>nonLatinKeyboard</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ Camera Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Camera Bottom Inset</string>
			<key>key</key>
			<string>cameraBottomSet</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Camera UI 11 [beta]</string>
			<key>key</key>
			<string>cameraUI11</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Camera Zoom and Flips Control</string>
			<key>key</key>
			<string>cameraZoomFlip11</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>✯ More options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Fast Open App</string>
			<key>key</key>
			<string>fastOpenApp</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Landscape Orientation Lock</string>
			<key>key</key>
			<string>landscapeLock</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Make SB Clean</string>
			<key>key</key>
			<string>makeSBClean</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ More Icon Dock</string>
			<key>key</key>
			<string>moreIconDock</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ No Dock Background</string>
			<key>key</key>
			<string>noDockBackground</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ No Icons Fly</string>
			<key>key</key>
			<string>noIconsFly</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Reduce Rows</string>
			<key>key</key>
			<string>reduceRows</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
  			<string>HalFiPadSwitchCell</string>
			<key>label</key>
			<string>◦ Swipe To Screenshot</string>
			<key>key</key>
			<string>swipeScreenshot</string>
			<key>defaults</key>
			<string>com.hius.HalFiPadPrefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.HalFiPadPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		<key>footerText</key>
		<string>
⚠ Note:
◦ Miniature: reduce the ability to switch applications quickly when swiping left or right on the bottom edge.
◦ Swipe To Screenshot: 2-finger at once swipe down from the status bar.
◦ Make SB Clean: remove icon labels, dots, weather footer text.
◦ Edge Protect: double swipe to gesture.
✔ RESPRING TO TAKE EFFECT.
</string>
		</dict>
		<dict>
			<key>label</key>
			<string>◦ Reset all settings</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>HalFiPad</string>
</dict>
</plist>